h1{
    font-size: 40px;
    font-weight: bold;
    color: red;
}
body{
    background-color: #363636;
    padding: 200px;
}

img{
    max-width: 150px;
    height: 150;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;


}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);

    }

    100%{
        transform: translateY(0px);
    }
}

